*{font-size:11pt; font-family:Helvetica; color:#FFDDEE;}
body{margin:0.5%; background:#820000 url('../../graphics/background.png') no-repeat; color:#ffddee;}

a,a:visited{
	color:#eeccdd;
	font-size:1.75ex;
}
a:hover{
	color:#ffddee;
	font-size:1.75ex;
}

p, .indentedText{text-indent:5%;}

img.logo{margin-left:10%; margin-top:2%}
img.slogan{display:block; margin-left:35%;}

div.please_help{position:absolute; display:inline; top:5%;}

img.favicon_link{width:16px; height:16px; border-width:0px;}

img.openSuSE_11_countdown{position:absolute; display:block; top:0px; right:2%;width:300px; height:150px;border:0px;}

div.left_sides_blocs{position:absolute; display:inline-block; float:left; width:14%;}

div.bloc{display:inline-table; clear:both; padding-bottom:5%; width:100%; color:#820000;}
	div.bloc_title{
		display:table-row;
		text-indent:5%;
		color:#820000;
		white-space:nowrap;
		vertical-align:middle;
		font:italic small-caps bold 1.75ex Courier;
		background:url('../../graphics/bloc_bg_title.png') no-repeat;
		width:100%;
		height:28px;
	}
	div.bloc_content{
		display:table-cell;
		background-color:#b11818;
		padding-top:5%;
		padding-left:10%;
		left:25%!important;
		color:#ffddee;
		font:80% Helvetica;
		width:100%;
	}
	div.bloc_extra{
		display:table-row;
		height:25px;
		background:#b11818 url('../../graphics/bloc_bg_extra.png') no-repeat;
		background-position: left bottom;
		border-bottom-left-radius:25% 25%;
	}

div.contents_container{
	position:absolute;
	float:middle;
	display:block;
	left:22%;
	width:60%;
}
	div.contents_top_left, div.contents_top_middle, div.contents_top_right,
	div.contents_body_padding_1, div.contents_body_padding_2,
	div.contents_bottom_left, div.contents_bottom_middle, div.contents_bottom_right{background-color:#a00000; display:table-cell;}
	
	div.contents_top_left, div.contents_top_right,
	div.contents_body_padding_1, div.contents_body_padding_2,
	div.contents_bottom_left, div.contents_bottom_right{width:55px;}
	
	div.contents_top_left, div.contents_top_middle, div.contents_top_right,
	div.contents_bottom_left, div.contents_bottom_middle, div.contents_bottom_right{height:55px;}
	
	div.contents_top{display:table-row;}
		div.contents_top_left{background:url('../../graphics/content_bg_top_left.png') no-repeat;}
		div.contents_top_right{background:url('../../graphics/content_bg_top_right.png') no-repeat;}
	
	div.contents_body_output{
		display:table-cell;
		background-color:#a00000;
	}

	div.contents_bottom{display:table-row;}
		div.contents_bottom_left{background:url('../../graphics/content_bg_bottom_left.png') no-repeat;}
		div.contents_bottom_right{background:url('../../graphics/content_bg_bottom_right.png') no-repeat;}

div.copyright{position: absolute; display:float; color:#cccccc; font-weight:bold; clear:both; right:5px; bottom:5px;}