/*
 * Unless explicitly acquired and licensed from Licensor under another
 * license, the contents of this file are subject to the Reciprocal Public
 * License ("RPL") Version 1.5, or subsequent versions as allowed by the RPL,
 * and You may not copy or use this file in either source code or executable
 * form, except in compliance with the terms and conditions of the RPL.
 *
 * All software distributed under the RPL is provided strictly on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, AND
 * LICENSOR HEREBY DISCLAIMS ALL SUCH WARRANTIES, INCLUDING WITHOUT
 * LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
 * PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. See the RPL for specific
 * language governing rights and limitations under the RPL.
 */

*{font-size:11pt; font-family:Helvetica; color:#ffddee;}
body{margin:0.5%; background:#820000 url('../../../../../graphics/background.png') no-repeat; color:#ffddee;}

ul{margin:0px; padding:0px;}

li,lh,a,a:visited{color:#eeccdd; font-size:1.75ex;}
lh{font-weight:bold;}

a:hover{color:#ffddee; font-size:1.75ex;}

p, .indentedText{text-indent:5%;}

img{border:0px; border-width:0px;}

img.logo{margin-left:10%; margin-top:2%; width:506; height:32;}
img.slogan{display:block; margin-left:35%; width:373; height:26;}

div.please_help{position:absolute; display:inline; top:5%;}

img.favicon_link{width:16px; height:16px;}

img.openSuSE_countdown{position:absolute; display:block; top:0px; right:2%;width:130px; height:130px; right:80px;}

/* Exception for when a method fails to auto-magickally load */
div.AOPHP_load_error{color:#bb0000; font-weight:bold; text-decoration:underline; font-size:2ex;}

/*content: wrapper for left hand blocs*/
div.left_sides_blocs{position:absolute; display:inline-block; float:left; width:20%;}

/*content: styles the side blocs, I'd like to turn these into ul/ol, lh, li, or ruby markup.*/
div.bloc,div.rss,div.bloc_tweets{display:inline-table; clear:both; padding-bottom:5%; width:100%; color:#820000;}
	div.bloc_tweets{width:125%!important;}
	div.bloc_title{display:table-row; text-indent:5%; color:#820000; white-space:nowrap; vertical-align:middle; font:italic small-caps bold 1.75ex Courier; background:url('../../../../../graphics/bloc_bg_title.png') no-repeat; width:100%; height:28px;}
	a.bloc_title{color:#820000; white-space:nowrap; vertical-align:middle; font:italic small-caps bold 2ex Courier;}
	
	div.bloc_content{display:table-cell; background-color:#b11818; padding-top:5%; padding-left:10%; left:25%!important; color:#ffddee; font:80% Helvetica; width:100%;}
	
	div.bloc_extra{display:table-row; height:25px; background:#b11818 url('../../../../../graphics/bloc_bg_extra.png') no-repeat; background-position: left bottom; border-bottom-left-radius:25% 25%;}
/*ends bloc containers*/

	ul.my_websites_listing{list-style-image:url('../../../../../graphics/favicon.png');}
	ul.github_repo_listing{list-style-image:url('../../../../../graphics/icons/art/github.png');}
	li.github_repo{font-weight:bold;}
/* ends left hand side blocs */

/*starts pages primary content*/
div.contents_container{position:absolute; float:middle; display:inline-block; left:18%; width:60%;}
	div.contents_top_left, div.contents_top_middle, div.contents_top_right,
	div.contents_body_padding_1, div.contents_body_padding_2,
	div.contents_bottom_left, div.contents_bottom_middle, div.contents_bottom_right{background-color:#a00000; display:table-cell;}
	
	div.contents_top_left, div.contents_top_right,
	div.contents_body_padding_1, div.contents_body_padding_2,
	div.contents_bottom_left, div.contents_bottom_right{width:55px;}
	
	div.contents_top_left, div.contents_top_middle, div.contents_top_right,
	div.contents_bottom_left, div.contents_bottom_middle, div.contents_bottom_right{height:55px;}
	
	div.contents_top{display:table-row;}
		div.contents_top_left{background:url('../../../../../graphics/content_bg_top_left.png') no-repeat;}
		div.contents_top_right{background:url('../../../../../graphics/content_bg_top_right.png') no-repeat;}
	
	div.contents_body_output{display:table-cell; background-color:#a00000;}

	div.contents_bottom{display:table-row;}
		div.contents_bottom_left{background:url('../../../../../graphics/content_bg_bottom_left.png') no-repeat;}
		div.contents_bottom_right{background:url('../../../../../graphics/content_bg_bottom_right.png') no-repeat;}
/*ends pages primary content*/

/*content: wrapper for right hand blocs*/
div.right_sides_blocs{position:absolute; display:inline-block; clear:all; width:14%; left:80%; top:35%;}

	div.rss_bloc{}
		div.rss_header{display:block; text-align:center; color:#ffaacc; vertical-align:bottom; font:italic small-caps bold 1.75ex Courier; background:url('../../../../../graphics/rss/header.png') no-repeat; width:220px; height:170px;}
		div.rss_inner{display:block; text-align:center; color:#ff9999; vertical-align:middle; font:italic small-caps bold 1.75ex Courier; background:url('../../../../../graphics/rss/inner.png'); width:220px; height:600px; top:25px;}
		ul.episodes{list-style-type:none;}
		div.rss_footer{display:block; text-align:center; color:#ff9999; vertical-align:middle; font:italic small-caps bold 1.75ex Courier; background:url('../../../../../graphics/rss/footer.png') no-repeat; width:220px; height:61px;}

	div.episode_dls{display:block; text-align:center; border-style:invert; border-width:2px;}
		img.OGG_Download{width:80px!important; height:27px!important;}
		img.FLAC_Download{width:85px!important; height:25px!important;}
		img.MP3_Download{width:112px!important; height:24px!important;}
		img.HPR_Download{width:96px!important; height:30px!important;}

	div.copyright{clear:both; text-align:right; color:#cccccc; font-weight:bold;}
/* ends right hand blocs */