Source: get2gnow
Section: alien
Priority: extra
Maintainer: root <root@i-am-an-uberhotty.nerdy-chic-geek.chick>

Package: get2gnow
Architecture: i386
Depends: ${shlibs:Depends}
Description: get2gnow's the ultimate micro-blogging client. Letting you get and do the most on all micro-blogging platforms.
 get2gnow's the ultimate micro-blogging client.
 Letting you get and do the most on all micro-blogging platforms.
 which just so happens to be exclusively available on
 Linux, GTK+, & GNOME.  With our goal for get2gnow being
 to create the very best, most robust, useful, beautiful,
 and feature rich communication platform imaginable while
 remaining yet straight forward & easy to use.
 get2gnow's focus is to createg the most full featured
 online communication platform available one any platform,
 And for Linux/GTK/GNOME open source artists:
         get2gnow can easily be embeddable into other applications
 Q.) What is 'micro-blogging'?
 A.) Micro-blogging is a way of quickly communicating
 any thing from complex ideas to the very simple:
 'What are you doing?'
 .
 (Converted from a rpm package by alien version 8.68.)
